@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../assets/fonts/PlayfairDisplay-Regular.woff");
}

// @font-face {
//   font-family: PlayfairDisplay-Regular;
//   src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
// }

h1 {
  background: lime;
  color: hotpink;
  margin: 0;
  width: auto;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  font-weight: 700;
  font-size: 6rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
